:root {
    --main-color: #353535;
    --second-color: #4c4e53;
    --highlight-color: #a3c8bc;
    --spare1-color: #606b72;
    --spare2-color: #72898f;
    --spare3-color: #87a9a8;
    --text-color: #faf8ff;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(21,21,21);
}

header {
 height: 100vh;
 background-image: url(img/frozen-8496388.jpg);
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-size: cover; 
 margin-bottom: 30px;
}

h1 {
    font-size: 3vw;
    color: var(--text-color)
}

nav {
    position: fixed;
    top: 1vh
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    background-color: var(--main-color);
    max-width: fit-content;
    border-radius: 0.25rem;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}

li {
    flex-basis: 1rem;
    margin: 0.2rem;
}

a {
    display: block;
    font-size: 1.8vh;
    text-decoration: none;
    text-wrap: nowrap;
    padding: 1vh;
    border-radius: 0.25rem;
    color: var(--text-color);
    text-align: center;
    transition-duration: 0.5s;
}

a:hover {
    color: var(--text-color);
    background-color: var(--spare3-color);
}